
body{
  background-color:blue;

}

  .container{  display:flex;
  color:white;

}

logo{
  width:50px;
  height:50px;
  border-radius:100px;
  background-color:none; 
      position:relative;
  z-index: 1;
  left:30px;
     top:10px;   }
  
     .div{
      color:rgb(197, 176, 176);

  

       
 
}

.container {
  display: row;
  flex-direction: row;
  color: white;
  font-family: .logo{
    width:250px;
    height:90px;
    border-radius:100px;
    background-color:none 
      ;
    position:relative;
    z-index: 1;
    left:30px;
       top:10px;   }
    
  .div{
  color:white;
    
  
         
  }  text=  'Lucinda Sans', 'Lucinda Sans Regular';
  margin: 10px 20px;
  position: absolute;
  right: 0;
  position: absolute;
  top: 0;
  font-size:50;
  font-weight: 1000;





}


h2 {
  color: white;
  font-size: 3em;

}

p {
  color: white;
  font-size: 2em;

}


button{
  background-color:rgb(255,140,0);
  color:white;
  height:40px;
  width: 200px;
  font-weight:bold;
  font-size:18px;
  position:relative;
  z-index: 1;
  left:475px;
     top:250px; 
  
  
}

.tv {
size:50%;
  height:25;
  width:25;
  position: relative;
  z-index: 1;
  left: 225px;
  top: 200px;


}

h2 {
  position: relative;
  z-index: 1;
  left: 360px;
  top: 150px;
}

p {
  position: relative;
  z-index: 1;
  left: 350px;
  top: 150px;
  font-size: 20px;
}

h3 {
  position: relative;
  z-index: 1;
  left: 175px;
  top: 4000;
}

h4 {

  height: 600px;
  width: 200px;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  z-index: 1;
  left: 500px;
  top: 200px;

  
}
p{
  font-size:16px;


}